<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testmodule">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".application.BasicApp"
        android:allowBackup="true"
        android:icon="@drawable/testmodule"
        android:label="@string/app_name"
        android:roundIcon="@drawable/testmodule"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".services.WorkerService" />
        <service
            android:name=".services.AppService"
            android:enabled="true"
            android:exported="true" />
        <!-- Main activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Data relevant activities -->
        <activity android:name=".activities.data.DataGatherActivity" />
        <activity android:name=".activities.data.SQLiteActivity" />
        <activity android:name=".activities.data.XmlParserActivity" />
        <!-- Notification relevant activities -->
        <activity android:name=".activities.notify.NotifiListActivity" />
        <activity android:name=".activities.notify.NotificationActivity" />
        <activity android:name=".activities.notify.CusNotificationActivity" />
        <activity android:name=".activities.notify.NotiBlockActivity" />
        <activity
            android:name=".activities.notify.NotiAppActivity"
            android:excludeFromRecents="true"
            android:theme="@style/AllTransparent" />
        <!-- Syetem functions relevant activities -->
        <activity android:name=".activities.sys.SysGatherActivity" />
        <activity android:name=".activities.sys.LanguageForNActivity" />
        <activity android:name=".activities.sys.LocationActivity" />
        <activity android:name=".activities.sys.PendingActivity" />

        <service
            android:name=".services.PendingService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.sys.SysTraceViewActivity" />
        <!-- UI relevant activities -->
        <activity android:name=".activities.ui.UIGatherActivity" />
        <!-- UI relevant activities: Viewpager -->
        <activity android:name=".activities.ui.viewpager.ViewPagerGatherActivity" />
        <activity
            android:name=".activities.ui.viewpager.ViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- UI relevant activities: Others -->
        <activity android:name=".activities.ui.viewpager.ViewPager2Activity" />
        <activity
            android:name=".activities.ui.TransparentActivity"
            android:label="TransparentActivity"
            android:theme="@style/AllTransparent" />
        <activity android:name=".activities.ui.WebViewActivity" />
        <activity
            android:name=".activities.ui.WindowManagerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity android:name=".activities.ui.viewpager.fragment.ViewPagerFragmentActivity" />
        <activity android:name=".activities.ui.viewpager.fragment.ViewPagerStateFragmentActivity" />
        <activity android:name=".activities.sys.SysAppActivity" />
        <activity android:name=".activities.ui.drawer.DrawerActivity"
            android:theme="@style/Theme.DrawerLayout"/>
        <activity android:name=".activities.ui.drawer.CheeseDetailActivity"
            android:parentActivityName=".activities.ui.drawer.DrawerActivity"
            android:theme="@style/Theme.DrawerLayout">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ui.drawer.DrawerActivity" />
        </activity>
    </application>

</manifest>