<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testmodule">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/testmodule"
        android:label="@string/app_name"
        android:roundIcon="@drawable/testmodule"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewActivity" />
        <activity
            android:name=".EventBusActivity"
            android:label="EventBusActivity" />
        <activity android:name=".XmlParserActivity" />
        <activity android:name=".SQLiteActivity" />
        <activity
            android:name=".viewpager.ViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".windowmanager.WindowManagerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity android:name=".location.LocationActivity" />
        <activity android:name=".viewpager.ViewPagerGatherActivity" />
        <activity android:name=".viewpager.ViewPager2Activity" />
        <activity android:name=".notification.views.NotificationActivity" />
        <activity android:name=".notification.views.NotifiListActivity" />
        <activity android:name=".notification.views.CusNotificationActivity" />
        <activity android:name=".notification.views.NotiBlockActivity" />
        <activity android:name=".notification.views.NotiAppActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:excludeFromRecents="true"/>
    </application>

</manifest>